@mixin func() {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  p {
    margin-bottom: 0;
  }
}

.my-alert {
  @include func()
}

.my-alert-warn {
  @extend .my-alert;
  background: #ffe591;
}